@model CumulatievePart1.Models.Course

<div id="containershow">
    <nav>
        <a class="navlink" href="/CoursePage/Show/@Model.CourseId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.CourseName @Model.CourseCode?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/CoursePage/Delete/@Model.CourseId">
        <button class="btn-warning">
            Confirm Delete
        </button>
    </form>
</div>