@model CumulatievePart1.Models.Student

<div id="containershow">
    <nav>
        <a class="navlink" href="/StudentPage/Show/@Model.StudentId">Cancel</a>
    </nav>
    <h2>Are you sure you want to delete @Model.StudentFName @Model.StudentLName?</h2>
    <p>This action cannot be undone.</p>
    <form method="POST" action="/StudentPage/Delete/@Model.StudentId">
        <button class="btn-warning">
            Confirm Delete
        </button>
    </form>
</div>